/*COLORS*/
/* BREAKPOINTS */
/*
@import '_variables.scss';
@import '_functions.scss';
@import 'mixins/_breakpoints.scss';
*/
.landing1, .landing2, .landing3, .contact {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  color: #ffffff;
  padding-top: 100px; }

body {
  font-family: sans-serif;
  color: #696d76;
  font-size: .85rem;
  font-weight: 600;
  /*
  @include breakpoint($xs, $sm) {	
  	background-color: green;	 
  }
  @include breakpoint($sm, $md) {	
      background-color: yellow; 
  }
  @include breakpoint($md, $lg) {	
      background-color: blue;	
  }
  @include breakpoint($lg, $xl) {
  	background-color: red;
  }
  */ }

.btn-primary {
  background-color: #49cbcd;
  border: #49cbcd; }
  .btn-primary:hover {
    background-color: #f8f9fb;
    color: #49cbcd !important; }

.portfolio, .client, .center, .card.span {
  text-align: center; }

/*NAV*/
.navbar {
  padding: 0rem 3rem; }
  .navbar li {
    padding: 2rem 1rem; }
    .navbar li:hover {
      background-color: #f8f9fb;
      border-bottom: 2px solid #49cbcd; }
    @media (min-width: 0) and (max-width: 576px) {
      .navbar li {
        padding: 0rem 1rem; } }

.nav-link:hover {
  color: #49cbcd !important; }

.navbar-brand {
  font-family: 'Lobster', cursive;
  color: #49cbcd !important;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic; }
  @media (min-width: 0) and (max-width: 576px) {
    .navbar-brand {
      font-size: 2rem; } }

/*LANDING*/
.landing1 {
  background-image: url("../images/duskywaters.jpg") !important; }

.landing2 {
  background-image: url("../images/underwater.PNG") !important; }

.landing3 {
  background-image: url("../images/kuangsi.PNG") !important; }

.center h1 {
  font-size: 4.5rem; }
  @media (min-width: 0) and (max-width: 576px) {
    .center h1 {
      font-size: 2.5rem; } }
.center p {
  padding: 1% 35%;
  font-size: 1.7rem;
  font-weight: 400; }
  @media (min-width: 0) and (max-width: 576px) {
    .center p {
      padding: 1% 5%;
      font-size: 1rem; } }

/*CARDS*/
.cards {
  padding: 7% 0%; }

.card {
  border: none; }
  .card span {
    font-size: 2em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 0.08em #49cbcd;
    color: #49cbcd;
    line-height: 3em;
    width: 3em;
    height: 3em;
    display: inline-block;
    transition: 0.5s; }

.card-text {
  font-size: 1em;
  font-weight: 400; }

/*PORTFOLIO*/
.portfolio {
  background-color: #f1f1f1;
  padding: 7% 0%; }

div.gallery {
  padding: 3% 0%; }
  div.gallery .row {
    width: 88%;
    margin: 0 auto; }
  div.gallery img {
    margin: 1em;
    width: 18rem;
    height: 18rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none; }
    @media (min-width: 0) and (max-width: 576px) {
      div.gallery img {
        width: 10rem;
        height: 10rem; } }
    @media (min-width: 768px) and (max-width: 1200px) {
      div.gallery img {
        width: 14rem;
        height: 14rem; } }
    div.gallery img:hover {
      border: 1px solid #ffffff; }

/*CLIENTS*/
.client {
  background-color: #ffffff;
  padding: 7% 15%; }
  @media (min-width: 0) and (max-width: 576px) {
    .client {
      padding: 1% 1%; } }

p.lead {
  padding: 1% 15%;
  font-size: 1.2em;
  font-weight: 400; }

/*CONTACT*/
.contact {
  height: 35rem;
  background-image: url("../images/blacktexture.jpg"); }
  @media (min-width: 0) and (max-width: 576px) {
    .contact {
      padding-top: 15px;
      height: 45rem; } }
  .contact .contact-div {
    padding: 0% 10%; }
  .contact h1, .contact h4 {
    color: #ffffff; }
  .contact h1 {
    text-align: center;
    padding-bottom: 1rem; }
    @media (min-width: 0) and (max-width: 576px) {
      .contact h1 {
        padding: 1% 0%; } }
  .contact p {
    color: #696d76; }
  .contact .contact-info {
    color: #a393c3; }
    @media (min-width: 0) and (max-width: 576px) {
      .contact .contact-info {
        padding: 5% 0%; } }
  .contact form {
    padding: 0% 7%; }

/*# sourceMappingURL=main.css.map */
