@import 'vars';
@import 'mixins';
/*
@import '_variables.scss';
@import '_functions.scss';
@import 'mixins/_breakpoints.scss';
*/

%bgd-image {
  @include img-bgd-size(cover);
  @include border-radius(0px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  color: $white;
  padding-top: 100px;
}

body {
	font-family: sans-serif;
	color: $darkgray;
	font-size: .85rem;
	font-weight: 600;
	/*
	@include breakpoint($xs, $sm) {	
		background-color: green;	 
	}
	@include breakpoint($sm, $md) {	
	    background-color: yellow; 
	}
	@include breakpoint($md, $lg) {	
	    background-color: blue;	
	}
	@include breakpoint($lg, $xl) {
		background-color: red;
	}
	*/
	
}

.btn-primary {
	background-color: $seafoam;
	border: $seafoam;
	&:hover{
		background-color: $mutegray;
		color: $seafoam !important;	
	}
}

.portfolio, .client, .center, .card.span {
	text-align: center;
}


/*NAV*/

.navbar {
	padding: 0rem 3rem;

	li { 
		padding: 2rem 1rem;
		&:hover {
			background-color: $mutegray;
			border-bottom: 2px solid $seafoam;			
		} 
		@include breakpoint($xs, $sm) {	
			padding: 0rem 1rem;	 
		}
	}
}

.nav-link {
	&:hover{
		color: $seafoam !important;	
	}	
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	color: $seafoam !important;	
	font-size: 3rem;
	@include breakpoint($xs, $sm) {	
		font-size: 2rem;	 
	}
	font-weight: 400;
	font-style: italic;
}


/*LANDING*/

.landing1{
  background-image: url("../images/duskywaters.jpg") !important;
  @extend %bgd-image; 
}

.landing2{
  background-image: url("../images/underwater.PNG") !important;
  @extend %bgd-image;  
}

.landing3{
  background-image: url("../images/kuangsi.PNG") !important;
  @extend %bgd-image;  
}

.center{	       
    h1 {
    	font-size: 4.5rem;
    	@include breakpoint($xs, $sm) {	
			font-size: 2.5rem;	 
		}
    }
    p {
    	padding: 1% 35%;
    	font-size: 1.7rem;
    	font-weight: 400;
    	@include breakpoint($xs, $sm) {	
			padding: 1% 5%;;
			font-size: 1rem;	 
		}
    }
}


/*CARDS*/

.cards {
	padding: 7% 0%;
}

.card {
	border: none;
	span {
		font-size:2em;
		@include border-radius(50%);
		border: solid .08em $seafoam;
		color: $seafoam;
		line-height: 3em;
		width: 3em;
		height: 3em;		
		display: inline-block;
		transition:0.5s;
	}
}

.card-text{
	font-size: 1em;
	font-weight: 400;
}

/*PORTFOLIO*/

.portfolio {
	background-color: $gray;
	padding: 7% 0%;	
}

div.gallery {  
	padding: 3% 0%;	
	.row {
		width: 88%;
		margin: 0 auto;
	}

    img {
    	margin: 1em;
    	width: 18rem; 
    	height: 18rem;
    	@include border-radius(3px);
    	border: none;
    	@include breakpoint($xs, $sm) {	
			width: 10rem; 
    		height: 10rem;	 
		}
		@include breakpoint($md, $xl) {	
			width: 14rem; 
    		height: 14rem;	 
		}

    	&:hover {
	    	border: 1px solid $white;
	    }
    }
}


/*CLIENTS*/

.client {
	background-color: $white;
	padding: 7% 15%;
	@include breakpoint($xs, $sm) {	
		padding: 1% 1%;	 
	}	
}

p.lead{			
	padding: 1% 15%;
	font-size: 1.2em;
	font-weight: 400;
}


/*CONTACT*/

.contact {
	height: 35rem;
	@include breakpoint($xs, $sm) {	
		padding-top: 15px;
		height: 45rem;
	  }
	background-image: url("../images/blacktexture.jpg");
	@extend %bgd-image;
	.contact-div{
		padding: 0% 10%;

	}
	h1, h4 {
		color: $white;
	}

	h1 {
		text-align: center;
		padding-bottom: 1rem;
		@include breakpoint($xs, $sm) {	
			padding: 1% 0%; 
		}
	}
	p {
		color: $darkgray;
	}
	.contact-info {
		color: $lavendar;
		@include breakpoint($xs, $sm) {	
			padding: 5% 0%; 
		}
	}
	form {
		padding: 0% 7%;		
	}
}
