/*COLORS*/

$seafoam: #49cbcd;
$mutegray: #f8f9fb;
$gray: #f1f1f1;
$darkgray: #696d76;
$white: #ffffff;
$lavendar: #a393c3;

/* BREAKPOINTS */

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;